@import
url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,100,100italic,300,300italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/*body {
    background-color: #EEEFEF;
}*/

code {
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
}

.post_title {
    width: 100%;
    display: block;
    padding: 50px;
    margin-top: -80px;
    color: white;
}
.post_title #title {
    font-size: 48px;
}
.post_title #author {
    font-size: 18px;
}
.post_title #date {
    font-size: 18px;
}

.post_body {
    width: 100%;
    display: block;
    padding: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.0);
    margin-top: -100px;
    margin-bottom: 1em;
    word-wrap: break-word;
}
.post_body .img-wrapper {
    display: inline-block;

    height: auto;
    max-width: 400px;
    overflow: hidden;
    width: auto;
}
.post_body img {
    max-width: 400px;
    
    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -moz-transform:scale(1); /* Firefox */
    -webkit-transform:scale(1); /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */

    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.post_body img:hover {
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */

    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.post_body img:not(:first-child) {
	width: 100%;
}
.post_body a {
    color: #AED4E6;
}
.post_body a:hover {
    color: #3689b0;
}

.social-media {
    display: block;
}
.social-media .twitter-share-button {
    display: inline-block;
    float: left;
}
.social-media .fb-share-button {
    display: inline-block;
    margin-left: 5px;
    top: -8px;
}

.post_header::before {
    color: white !important;
    background: rgba(90, 90, 90, 0.1) !important;
}
.post_body::before {
    color: white !important;
    background: rgba(90, 90, 90, 0.3) !important;
}

hr {
    border: 0;
    height: 1px;
    background: gray;
}
